{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand navbar-light bg-primary topbar static-top shadow">
    <!-- Topbar Navbar -->
    <div class="row justify-content-between">
        <div class="col-12 col-md d-flex align-items-center ml-3">
            <a><i class="fa fa-calculator fa-fw ml-5 text-white" style="font-size:12px;"></i></a>
            <a class="text-white ml-2" style="font-size:20px;font-weight:800;">WebCal</a>
        </div>
    </div>

</nav>