{% extends 'calculator/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} WebCal - Calculator {% endblock %}
{% block content %}
    <section class="container bg-light" style="height:100vh;">
         <div class="row">
             <div class="content justify-content-center mt-4 ml-2 mr-2">
                <form action="{% url 'calculator' %}" method="post">
                        {% csrf_token %}
                          <div class="row">
                          <div class="col-md-6 justify-content-center">
                              <div class="text-info" style="font-weight:700;font-size:1.1rem;">
                                 Supported operations <br> are
                                 +, -, *, and / .<br>Also parenthesis <br>such as ( ) is supported.<br>
                                 For example 2+4(16/8) <br>will be entered <br>as 2+4*(16/8)<br>and
                                  the result is 10.0.<br>Division by zero is<br>undefined.
                              </div>
                          </div>
                          <div class="col-6">
                          <div class="container justify-content-center">
                          <div class="col-md-12">
                              <strong class="text-dark">Expression:</strong>
                              <div class="form-group">
                                  <input type="text" id="expression" name="expression" required size="23">
                              </div>
                            </div>
                              <div class="col-md-12 mt-1">
                                  <div class="form-group">
                                      <div class="d-flex justify-content-center">
                                        <strong class="text-dark">=</strong>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <strong class="text-dark">Result:</strong>
                                    <div class="form-group">
                                      <div class="d-flex bg-white text-dark justify-content-center border-top border-bottom border-left border-right" style="width:244px;height:35px;overflow-x:hidden;">
                                          <p style="padding:2px;">{{result|safe}}</p>
                                      </div>
                                    </div>
                              </div>
                            <div class="col-md-8 mt-3">
                                <div class="form-group">
                                    <button class="btn btn-secondary btn-lg btn-block text-white" type="submit" style="font-weight:600;font-size:14px;">Calculate</button>
                                </div>
                            </div>
                          </div>
                           </div>
                          </div>
                      </form>
             </div>
         </div>
    </section>
{% endblock %}