{% extends 'calculator/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} WebCal - Calculator {% endblock %}
{% block content %}
    <section class="container bg-light" style="height:100vh;">
         <div class="row justify-content-center mt-4 mb-4">
             <div class="content justify-content-center mt-4 ml-2 mr-2">
                <form action="{% url 'calculator' %}" method="post">
                        {% csrf_token %}
                          <div class="row">
                          <div class="col-md-6">
                                  <strong>Expression:</strong>
                                  <div class="form-group">
                                      <input type="text" id="expression" name="expression" required size="20">
                                  </div>
                            </div>
                              <div class="col-md-6">
                                  <strong>Result:</strong>
                                  <div class="d-flex bg-white text-dark justify-content-center border-top border-bottom border-left border-right" style="height:2rem;padding:2px;">
                                      <h5 style="padding:2px;">{{result|safe}}</h5>
                                  </div>
                            </div>
                            <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <button class="btn btn-info btn-lg btn-block text-white" type="submit" style="font-weight:700;">Calculate</button>
                            </div>
                          </div>
                          </div>
                      </form>
             </div>
         </div>
    </section>
{% endblock %}