{% extends 'calculator/base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% block title %} WebCal - Login {% endblock %}
{% block content %}
	  <section class="container bg-light" style="height:100vh;">
		 <div class="row justify-content-center">
			 <div class="card mt-3 mb-3 bg-white justify-content-center" style="width:25rem;height:28rem;cursor:pointer;">
				 <div class="heading-1 mt-2 mb-1">
					 {% if user.profile %}
						<h4 class="d-flex justify-content-center" style="font-weight:500;">Welcome Back</h4>
					 {% else %}
						<h4 class="d-flex justify-content-center" style="font-weight:500;">Sign In</h4>
					 {% endif %}
				 </div>
				   <div class="input mr-3 ml-3" style="font-weight:500;">
						<form method="post" action="{% url 'login' %}">
							{% csrf_token %}
							<div class="col-md-12">
							  <div class="form-group">
								<p id="id_email">{{ form.username }}</p>
								{% if form.username.errors %}
								   <div class="alert alert-danger alert-dismissible" role="alert" style="padding:1px 1px; font-size:0.8rem;">
									   <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
									   {{ form.username.errors }}
								   </div>
							    {% endif %}
							  </div>
							</div>
							<div class="col-md-12">
							  <div class="form-group">
								<p id="id_password1">{{ form.password1 }}</p>
								{% if form.password1.errors %}
								  <div class="alert alert-danger alert-dismissible" role="alert" style="padding:1px 1px; font-size:0.8rem;">
									  <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
									  {{ form.password1.errors }}
								  </div>
							    {% endif %}
							  </div>
							</div>
							<div class="text-center mt-1" style="font-size:0.8rem;">
							 <div class="container">
								{% if messages  %}
								 {% for message in messages %}
									  <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
										<span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
										<a>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</a> {{ message }}
									  </div>
								 {% endfor %}
							   {% endif %}
							  </div>
						     </div>
							<div class="form-group ml-3">
								<small class="text-muted ml-3">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="remember">
										<label class="form-check-label" for="remember" style="font-size:0.9rem;">Remember me</label>
									</div>
								</small>
							</div>
							<div class="col-md-12">
								 <div class="form-group mt-3">
									 <button type="submit" class="btn btn-primary btn-lg btn-block text-white" style="font-weight:700;">Log In</button>
								 </div>
							</div>
						</form>
						<div class="pt-3 ml-3 mr-3">
							<div class="border-top pt-3">
								<small class="text-muted">
									<a>Don't have an account?</a>
								   <a href="{% url 'register' %}" class="text-primary ml-2">Sign up</a>
								</small>
							</div>
						</div>
				   </div>
			 </div>
		 </div>
	  </section>
{% endblock %}